.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #1b1b1b 0%, #2b2b2b 39.58%);
}

.curveOne {
  position: absolute;
  transform: rotate(11deg);
  width: 120vw;
  left: -2rem;
  top: 13rem;
  opacity: 0.3;
}

.curveTwo {
  position: absolute;
  transform: rotate(15deg);
  width: 120vw;
  left: -2rem;
  top: 16rem;
  opacity: 0.3;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 8rem 6rem;
  box-sizing: border-box;
}

.grid {
  display: flex;
  gap: 10rem;
  align-items: center;
}

/* Left Content */
.content {
  max-width: 40%;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.line {
  width: 6rem;
  height: 1px;
  background: #ffe4ae;
}

.title {
  font-family: var(--font-heading);
  color: #ffe4ae;
  font-size: 2.875rem;
  margin-bottom: 0.3rem;
  font-weight: 300;
  vertical-align: middle;
}

.desc {
  font-family: var(--font-paragraph);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 2%;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 7rem;
}

.button {
  width: 14rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-small-heading);
  background: var(--pal-brown);
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  transition: box-shadow 0.25s ease;
}

.button:hover {
  box-shadow: 0 12px 30px rgba(155, 128, 78, 0.35);
}

/* Right Images */
.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 70%;
}

/* Image Wrapper */
.imageWrap {
  position: relative;
  aspect-ratio: 10 / 16;
  will-change: transform;
  transition: transform 0.4s ease-in-out;
}

/* Border line BEHIND image */
.imageWrap::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #ffe4ae80;
  will-change: transform;
  transform: translate(1.5rem, 1.5rem);
  transition: transform 0.4s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

/* Actual image container */
.imageWrap > span {
  position: relative;
  z-index: 1;
}

/* Next.js Image */
.image {
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease-in-out;
}

.imageWrap:hover .image {
  transform: translate(0.5rem, 0.5rem);
}

/* Same size */
.large,
.small {
  margin-top: 0;
}

/* Responsive */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .images {
    grid-template-columns: 1fr 1fr;
  }

  .small {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 8rem 2rem 4rem;
  }

  .images {
    grid-template-columns: 1fr;
  }
}
