.section {
  width: 100%;
  background-color: #ffffff;
}

/* INNER WRAPPER */
.inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 8rem 6rem 6rem;
}

/* KICKER */
.kicker {
  display: block;
  font-family: var(--font-allcaps);
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5625rem; /* 25px */
  text-align: right;
  color: var(--pal-brown);
  margin-bottom: 1.5rem;
}

/* TEXT CONTENT (RIGHT ALIGNED) */
.header {
  max-width: 50rem;
  margin-left: auto;
  margin-bottom: 4rem;
  text-align: right;
}

/* HEADING + LINE */
.headingRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-bottom: 1.25rem;
}

.line {
  width: 3rem;
  height: 1px;
  background-color: var(--pal-brown);
  opacity: 0.6;
}

/* HEADING */
.heading {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 2.8125rem; /* 45px */
  line-height: 3.25rem; /* 52px */
  letter-spacing: 0.02em;
  color: var(--pal-brown);
}

/* PARAGRAPH */
.paragraph {
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 1.125rem; /* 18px */
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--pal-grey);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 0 12rem;
  position: relative;
}

.grid::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 80%;
  margin: auto 0;
  background: var(--pal-light);
  pointer-events: none;
}

/* IMAGE BOX */
.imageBox {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
}

/* IMAGE */
.image {
  object-fit: cover;
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .inner {
    padding: 5rem 3rem;
  }
  .header {
    max-width: 40rem;
    margin-bottom: 3rem;
  }
  .kicker {
    font-size: 0.75rem;
    margin-bottom: 0.775rem;
  }
  .headingRow {
    margin-bottom: 1.7rem;
  }
  .heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .line {
    opacity: 0.6;
  }
  .paragraph {
    font-size: 0.9rem;
  }
  .grid {
    gap: 2.5rem;
  }
  .imageBox {
    border-radius: 0.75rem;
  }
}
/* Tablet Responsivness */
@media (max-width: 1024px) {
  .inner {
    padding: 4rem 2rem;
  }
  .header {
    margin-bottom: 3rem;
  }
  .kicker {
    font-size: 0.575rem;
    margin-bottom: 0rem;
  }
  .line {
    max-width: 3.5rem;
  }
  .heading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .grid {
    padding: 0 4rem;
    gap: 2rem;
  }
  .imageBox {
    border-radius: 0.5rem;
  }
}
/* Mobile Responsivness */
@media (max-width: 768px) {
  .inner {
    padding: 3rem 1.5rem;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .header {
    margin-bottom: 3rem;
  }
  .kicker {
    font-size: 0.575rem;
    margin-bottom: 0rem;
  }
  .line {
    max-width: 2.5rem;
  }
  .headingRow {
    gap: 0.5rem;
    margin-bottom: 0.875rem;
  }
  .heading {
    white-space: wrap;
    font-size: 1.7rem;
  }
  .grid {
    padding: 0 1rem;
    gap: 1rem;
  }
  .imageBox {
    border-radius: 0.25rem;
  }
}
