.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  font-family: var(--font-small-heading); /* Inter */
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 600px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: opacity 0.2s ease;
}

.menu li a:hover {
  opacity: 0.75;
}

/* Book Now button */
.bookNow {
  font-family: var(--font-small-heading); /* Inter */
  font-size: 1.25rem;
  padding: 14px 21px;
  border-radius: 3px;

  background-color: var(--pal-brown);
  color: #ffffff;
  text-decoration: none;

  transition: background-color 0.25s ease, transform 0.2s ease;
}

.bookNow:hover {
  background-color: var(--pal-brown);
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .nav {
    gap: 1.875rem;
  }

  /* Menu */
  .menu {
    gap: 1.5rem;
  }

  .menu li a {
    font-size: 0.9rem;
  }

  /* Book Now button */
  .bookNow {
    font-size: 0.9rem;
    padding: 10px 16px;
    border-radius: 2px;
  }
}
