.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  font-family: var(--font-small-heading); /* Inter */
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 600px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

/* Book Now button */
.bookNow {
  font-family: var(--font-small-heading); /* Inter */
  font-size: 1.25rem;
  padding: 14px 21px;
  border-radius: 3px;

  background-color: var(--pal-brown);
  color: #ffffff;
  text-decoration: none;

  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

.light {
  background-color: #ffffff;
  color: var(--pal-brown);
}

/* Scrolled */
.scrolledButton {
  color: var(--pal-brown);
  background-color: #ffffff;
}

/* .a::before {
  background: var(--pal-brown);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} */

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .nav {
    gap: 1.875rem;
  }

  /* Menu */
  .menu {
    gap: 1.5rem;
  }

  .menu li a {
    font-size: 0.9rem;
  }

  /* Book Now button */
  .bookNow {
    font-size: 0.9rem;
    padding: 10px 16px;
    border-radius: 2px;
  }
}
