/* Light theme only */
:root {
  --background: #ffffff;
  --foreground: #141414;
}

/* Core browser resets */
html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

/* Base body styling */
body {
  background: var(--background);
  color: var(--foreground);

  /* Pal Heights Fonts */
  font-family: var(--font-paragraph), sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Anchor default */
a {
  color: inherit;
  text-decoration: none;
}

/* Ripple animation */
:root {
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s)
    infinite;
}

@keyframes ripple {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
